.body{
  font-family: 'Athiti', sans-serif !important;
  background-color:rgb(240, 240, 240);

}

h1 {
  font-size: 5.9vw;

}
h2 {
  margin-top: 10px !important;
}
.badge{
  background-color: rgb(171, 32, 32) !important;
}
