@import url('https://fonts.googleapis.com/css?family=Athiti:500,700&subset=thai');
@media screen and (max-width: 340px) {
    .body {
        background-color: lightgreen;
    }
    .col-xs-6.col-sm-4.product{
      width:100%;
    }
}
.body{
  background-color:rgb(240, 240, 240);
  margin-top: 50px;

  padding-top:10px;
  font-family: 'Athiti', sans-serif;
}

h1 {
  font-size: 5.9vw;
}
h2 {

}
.heading{
  padding:5px;
  margin-bottom: 10px;

}
.form-control.buy{
  background-color: rgb(171, 32, 32);
  color:white;
  font-weight:500;
}
.form-control.buy:hover{
  background-color:white;
  color:rgb(171, 32, 32);
  border: solid 2px rgb(171, 32, 32);
  font-weight:500;
}
.col-xs-12.product{
  padding:0px 0px;
}
.col-xs-6.col-sm-4.col-md-3.product{

padding-bottom: 10px;
}

.navbar.navbar-default{
  border-radius: 0px;
  z-index: 99;
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
}
.pic{
  height:70%;
  max-height:
}
.show {
width:auto;
  height:30%;
  font-weight:700;
}
.pic img{
  vertical-align: middle;
}
.jumbotron.product {
  width:80%;
  padding-top: 0px;
  margin: auto;
  background-color: white;
  margin-bottom:30px;
}
.jumbotron.cover{
  color:white;
  background-color: rgb(171, 32, 32);
}
.jumbotron.footer{
  width:100%;
  position: relative;
 right: 0;
 bottom: 0;
 left: 0;
  color: rgb(195, 195, 195);
  background-color: rgb(55,50,50);
  margin-bottom: 0px;
}
