@import url('https://fonts.googleapis.com/css?family=Athiti:500,700&subset=thai');
@media screen and (max-width: 340px) {
    .col-xs-6.col-sm-4.product{
      width:100%;
    }
}
@media screen and (max-width: 500px) {
    .footinfo{
      height:130px;
    }
}
@media screen and (min-width: 500px) {
    .footinfo{
      height:150px;
    }
}
.heading{
  padding:5px;
  margin-bottom: 10px;

}
.form-control.buy{
  display: none;
  background-color:rgba(255, 255, 255,0.5);
  color:rgb(171, 32, 32);
  border: solid 2px rgb(171, 32, 32);
  font-weight:500;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
  /*position: absolute;
  top:130px;*/
}

.form-control.buy:hover{
  background-color:rgb(171, 32, 32);
  color:white;
}
.col-xs-12.product{
  padding:0px 0px;
}
.col-xs-6.col-sm-4.col-md-3.product{
  height:300px;
  margin-bottom: 20px;

}
.col-xs-6.col-sm-4.col-md-3.product:hover .form-control.buy{
  display: block;
}
.navbar.navbar-inverse{

  border-radius: 0px;
  z-index: 99;
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
}
.pic{
  height:70%;
  background-position: center;
  background-size: cover;
}
.show {
width:100%;
  height:30%;
  font-weight:700;
  min-height:80px;
  position: relative;
}
.pic img{
  vertical-align: middle;
}
.name{width:70%;
  float:left;
  display: inline-block;
}
.price{
  width:30%;
    float:left;
  height: 100%;
  display: inline-block;
  color:rgb(171, 32, 32);
}
.jumbotron.product {
  /*width:80%;*/

  max-width: 1100px;
  padding-top: 0px;
  margin:15px 20px 30px 20px;
  background-color: white;

}
.jumbotron.cover{
  color:white;
  height: 50vh;
  background-color: rgb(171, 32, 32);
  background-image: url('../bg.jpg');
  background-size:cover;
  background-position:center;
  /*background-attachment:fixed;*/
}
.jumbotron.footer{
  width:100%;
  max-height: 600px;
  position:static;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgb(195, 195, 195);
  background-color: rgb(33, 36, 46);
  margin-bottom: 0px;
  padding:0px;
}
.jumbotron.detailproduct{
  margin:30px 20px;
  max-width:1000px;
  background: white;
  padding:20px;
}
#detail{
  text-align: left;
}
.promotion{
  float:left;
  background-size: cover;
  background-position:right;
  /*width:45%;*/
  width:300px;
  height: 200px;
  margin:3px;
}
/*.jumbotron.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}*/
.footinfo{
  text-align: center;
  margin: auto;
  background-color: rgb(33, 36, 46);
  font-size: 2vh;
  padding: 5px 20px;
  vertical-align: middle;

}
.footinfo h2{
  color:rgb(171, 32, 32);
}
.footinfo img{
  height: 30px;

}
.cartimg{
  width:100px;
  height:auto;
}
.page{
  margin:auto;
}
nav.page{
  margin: auto;
  color:black;
}
.jumbotron.cart{
  width:95%;
  margin: auto;
}
.table.cart{
  /*height: 300px;
  overflow: scroll;*/
}
.jumbotron.his{
  height:500px;
  overflow: scroll;
  width: 95%;
  margin: auto;
}
.searchpage{
  display:none;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  position:absolute;
  background-color: rgba(0, 0, 0, 0.51);
  width:100%;
  height: 100%;
  z-index: 10;
  color:white;
}
.btn.category{
  border:solid 1px rgb(171, 32, 32);
  background-color: transparent;
  margin: 3px;
  padding :5px 10px;
  color:rgb(171, 32, 32);

}

.main{
  margin-top:50px;
  padding-top:20px;
}
